.form {
  margin-top: 1.5rem;
}

.form mat-form-field {
  width: 85%;
  margin-right: 7.5%;
  margin-left: 7.5%;
}
.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.hide button {
  float: right;
}

.action_button {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-right: 12.5%;
  margin-left: 12.5%;

  button {
    height: 46px;
  }
}
