<div class="spinner" *ngIf="isLoading">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!isLoading">
  <div class="container">
    <div class="heading">
      <h1>Join Office</h1>
    </div>

    <div class="stepper">
      <mat-vertical-stepper #stepper linear>
        <mat-step>
          <ng-template matStepLabel>Authenticate Yourself</ng-template>
          <app-auth></app-auth>
          <div>
            <button
              mat-raised-button
              matStepperNext
              color="primary"
              [disabled]="!isAuth"
              (click)="onClickInitUser()"
            >
              Next
            </button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Personal Details</ng-template>
          <div class="details-form">
            <h1>Add Your Personal Details</h1>
            <form [formGroup]="personalDetailsForm" autocomplete="off">
              <mat-form-field>
                <mat-label>First Name</mat-label>
                <input
                  matInput
                  type="text"
                  placeholder="First Name"
                  formControlName="firstName"
                />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Surname</mat-label>
                <input
                  matInput
                  type="text"
                  placeholder="Surname"
                  formControlName="lastName"
                />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Cellphone Number</mat-label>
                <input
                  matInput
                  type="tel"
                  placeholder="Cellphone Number"
                  formControlName="cellNumber"
                />
              </mat-form-field>
              <mat-form-field>
                <mat-label>ID Number</mat-label>
                <input
                  matInput
                  type="number"
                  placeholder="ID Number"
                  formControlName="idNumber"
                />
              </mat-form-field>
            </form>
          </div>
          <div class="finish-btns">
            <button mat-raised-button matStepperPrevious>Back</button>
            <button
              mat-raised-button
              matStepperNext
              color="primary"
              [disabled]="personalDetailsForm.invalid"
              (click)="addBasicDetailsToDB()"
            >
              Next
            </button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Covid Screening</ng-template>
          <app-covid-checklist></app-covid-checklist>
          <div class="finish-btns">
            <button mat-raised-button matStepperPrevious>Back</button>
            <button mat-raised-button matStepperNext color="primary">
              Next
            </button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Finish & Join</ng-template>
          <app-finish-join></app-finish-join>
          <div class="finish-btns">
            <button mat-raised-button matStepperPrevious>Back</button>
            <button mat-raised-button color="primary">Finish</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </div>
  </div>
</div>
