.spinner {
  text-align: center;
  margin-top: 5rem;
}

.heading {
  text-align: center;
  margin: 2rem;
}

.mat-vertical-stepper-header {
  pointer-events: none !important;
}

.finish-btns {
  h1 {
    margin-top: 1rem;
  }
  button {
    margin: 2px;
  }
}

.details-form {
  width: 100%;
  h1 {
    margin-top: 1rem;
  }
  mat-form-field {
    width: 90%;
  }
}

.covid-screening {
  width: 100%;
  h1 {
    margin-top: 1rem;
  }
  mat-form-field {
    width: 90%;
  }
}
