<div class="wrapper">
  <div class="exit-button">
    <button mat-icon-button (click)="onClickCloseDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<br />
<div class="heading">
  <h1>Add New Office</h1>
</div>
<br />

<div class="office-form">
  <mat-card>
    <form [formGroup]="newOfficeForm">
      <mat-form-field>
        <mat-label>Office Name</mat-label>
        <input
          matInput
          formControlName="name"
          placeholder="Office Name"
          type="text"
        />
      </mat-form-field>
    </form>
  </mat-card>
</div>
