.exit-button {
  top: 0;
  right: 0;
  position: absolute;
}

.wrapper {
  position: relative;
  width: 100%;
}

.heading {
  width: 100%;
  text-align: center;
}

.office-form {
  mat-card {
    width: 100%;
  }
  mat-form-field {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
  }
}

.action-btn {
  text-align: center;
  button {
    height: 46px;
  }
}
.blue {
  color: #71deff;
}
.green {
  color: #36e9b6;
}
.yellow {
  color: #ffcf44;
}
.purple {
  color: #b15cff;
}
.gray {
  color: gray;
}
.red {
  color: #e74a4a;
}
