.exit-button {
  top: 0;
  right: 0;
  position: absolute;
}

.wrapper {
  position: relative;
  width: 100%;
}
.heading {
  width: 100%;
  text-align: center;
}

.action-btn {
  text-align: center;
  button {
    height: 46px;
    background-color: red;
    color: whitesmoke;
  }
}
