.add-office-container {
  margin-top: 2rem;
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
}

.action-btn {
  text-align: center;
}

.box {
  margin-top: 1rem;
}

.box mat-card {
  margin-bottom: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  mat-card-title {
    margin-left: 25px;
    margin-top: 10px;
  }
  button {
    right: 0;
  }
}

.fill-remaining-space {
  flex: auto;
}

.booking-details {
  p {
    text-align: center;
    margin-top: -2px;
  }
}

.add-new-office {
  margin-bottom: 10px;
  text-align: center;
}

mat-card-subtitle {
  margin-left: 15px;
}

mat-card {
  max-width: 600px;
  margin: auto;
}
