.add-new-office-block {
  margin-top: 2rem;
  text-align: center;
  button {
    height: 46px;
    width: 45%;
  }
}

.office-card-container {
  margin-top: 2rem;
}
.office_container {
  display: flex;
  flex-wrap: nowrap;
  min-height: 150px;
  background-color: whitesmoke;
  max-width: 90vw;
  margin: 5px 5px;
  margin-bottom: 1rem;
  border-radius: 7.5px;
  box-shadow: 2px 2px 2px 2px #ccc;
}
.left-col {
  background-image: linear-gradient(#68c5df, #0877ae);
  flex: 1;
  max-width: 75px;
  text-align: center;
  border-radius: 7.5px 0px 0px 7.5px;
  mat-icon {
    color: white;
    font-size: 38px;
    margin-left: -15px;
    margin-top: 4vh;
  }
  p {
    font-size: large;
    font-weight: 500;
    color: white;
    margin-top: -10px;
  }
}

.center-col {
  flex: 2;
  h4 {
    font-weight: 500;
    margin-top: 5px;
  }
  p {
    font-weight: 200;
  }
}

.right-col {
  flex: 2;
  button {
    float: right;
    margin-right: -10px;
  }
  p {
    position: absolute;
    bottom: 0;
    right: 3px;
  }
}
.button-text {
  float: left;
  margin-left: 10px;
}
.button-icon {
  display: block;
}

.spinner {
  text-align: center;
  margin-top: 5rem;
}
