.add-staff-box {
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 2rem;
}

.add-staff-btn {
  text-align: center;
}

.add-staff-btn-next {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.staff-box {
  max-width: 500px;
}

.staff-card {
  margin-bottom: 1rem;
  white-space: nowrap;
}

.wrapper {
  position: relative;
  width: 100%;
}

.menu-btn {
  top: 0;
  right: 0;
  position: absolute;
}

.spinner {
  text-align: center;
  margin-top: 5rem;
}
