<div *ngIf="loading$ | async">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!(loading$ | async)">
  <!--Show Add Staff If Staff Array Is Empty-->
  <div *ngIf="(staff$ | async).length == 0">
    <div class="add-staff-box container">
      <mat-card>
        <mat-card-title>Add First Staff Member</mat-card-title>
        <div class="add-staff-btn">
          <button
            mat-raised-button
            color="primary"
            (click)="onClickOpenNewStaffDialog()"
          >
            Add Staff
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-card>
    </div>
  </div>

  <div *ngIf="(staff$ | async).length > 0">
    <div class="add-staff-btn-next">
      <button
        mat-raised-button
        color="primary"
        (click)="onClickOpenNewStaffDialog()"
      >
        Add Staff
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="staff-box container">
      <div *ngFor="let staff of staff$ | async">
        <div class="staff-card">
          <mat-card>
            <mat-card-header>
              <img
                mat-card-avatar
                src="../../../../../assets/images/default-user.svg"
              />
              <mat-card-title
                >{{ staff.name }} {{ staff.surname }}</mat-card-title
              >
              <mat-card-subtitle>{{ staff.email }}</mat-card-subtitle>
              <div class="wrapper">
                <div class="menu-btn">
                  <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                      <mat-icon>edit</mat-icon>
                      <span>Edit Staff</span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>delete</mat-icon>
                      <span>Remove Staff</span>
                    </button>
                  </mat-menu>
                </div>
              </div>
            </mat-card-header>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
