<div *ngIf="loading$ | async">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!(loading$ | async)">
  <!--Show Add Staff If Staff Array Is Empty-->
  <div *ngIf="(staff$ | async).length == 0">
    <div class="add-staff-box container">
      <mat-card>
        <mat-card-title>Add First Staff Member</mat-card-title>
        <div class="add-staff-btn">
          <button
            mat-raised-button
            color="primary"
            (click)="onClickOpenNewStaffDialog()"
          >
            Add Staff
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-card>
    </div>
  </div>
</div>
