<!--LOADING-->
<div *ngIf="loading$ | async"></div>

<!--NOT LOADING-->
<div *ngIf="!(loading$ | async)">
  <!--Office Details Header-->
  <div *ngIf="office$ | async as office">
    <!--Office Details Header-->
    <div class="header">
      <div class="container">
        <div class="row-1">
          <button mat-icon-button (click)="onClickNavigateBack()">
            <mat-icon>keyboard_backspace</mat-icon>
          </button>
          <h1>{{ office.officeName | titlecase }}</h1>
        </div>
        <div class="row-2">
          <p>Address: {{ office.officeLocation | titlecase }}</p>
          <p>Email: {{ office.officeEmail }}</p>
          <p>Office Tell: {{ office.officeTellNumber }}</p>
          <p>Max Capacity: {{ office.maxOfficeOccupants }}</p>
        </div>
      </div>
    </div>
    <!--Office Tabs-->
    <!--Boardrooms, Staff, Visitors-->
    <div class="tab-container container">
      <mat-tab-group mat-align-tabs="center">
        <!--BOARDROOM TAB-->
        <mat-tab label="Boardrooms">
          <ng-template matTabContent>
            <!--Boardrooms-->
            <app-boardroom></app-boardroom>
          </ng-template>
        </mat-tab>
        <!--STAFF TAB-->
        <mat-tab label="Staff">
          <ng-template matTabContent>
            <app-staff
              [maxOfficeOccupants]="office.maxOfficeOccupants"
            ></app-staff>
          </ng-template>
        </mat-tab>
        <!--VISITORS TAB-->
        <mat-tab label="Visitors">
          <ng-template matTabContent>
            <app-visitors></app-visitors>
          </ng-template>
        </mat-tab>
        <!--Meetings Tab-->
        <mat-tab label="Meetings">
          <ng-template matTabContent>
            <app-meetings></app-meetings>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
