.header {
  min-height: 20vh;
  background-color: #368bc8;
  width: 100vw;
  border-radius: 0px 0px 50px 50px;
}

.tab-container {
  width: 100%;
}

.row-1 {
  margin-left: 1px;
  display: flex;
  flex-direction: row;
  mat-icon {
    color: whitesmoke;
  }
  h1 {
    color: whitesmoke;
    padding-top: 3px;
    margin-left: 3px;
  }
}

.row-2 {
  margin-left: 1px;
  display: flex;
  flex-direction: column;
  p {
    margin-left: 45px;
    color: whitesmoke;
  }
}
